body {
    background-color: #f1f1f1;
    overflow-x: hidden;
  }
  * {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;

  }

  div.sidebarlogo {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
  }

  /* Active/current link */
  .sidebar a.active {

    color: black;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;

  }

  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    font-size: larger;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    transition: 0.3s;
  }

  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: auto;
    
  }

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }

    .sidebar a {
      float: left;
    }

    div.content {
      margin-left: 0;
    }
  }

  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


  .containeraboutpic {
    position: relative;
    width: 500px;
    max-width: 1500px;

  }

  .image {
    display: block;
    width: 100%;
    height: auto;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
   
  }

  .overlay {
    box-sizing: border-box;
    position: absolute;
    bottom: 4px;
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;

  }

  .containeraboutpic:hover .overlay {
    opacity: 1;
    
  }

  .firstimage {
    margin-top: 90px;
    width: 100%;
  }
  div.pagebackground{
    width: 1000px;
  }

  p {
 
    font-family:'Times New Roman', Times, serif;
    font-size: large;


  }

  div.pstyle {
    line-height: 2;
  }

  .button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 40px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
  }

  .button1:hover {
    background-color: white;
    color: white;
  }



  #mySidenav a {
    position: absolute;
    right: -140px;
    width: 160px;
    transition: 0.3s;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 0 0 5px;
    text-align: right;
    background-color: rgb(0, 0, 0);
  } 

  #mySidenav a:hover {
    right: 0;
    background-color: #f1f1f1;
    color: #555;
    border: 2px solid #555;
    }

  #gallery {
    top: 160px;

  }

  #blog {
    top: 220px;

  }

  #projects {
    top: 280px;

  }

  #contact {
    top: 340px;
  
  }

 /* Education achievementGallery starts here  */
 .container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 50vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 2vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 1.5;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }
 /* Education achievement gallery ends here */